html,body {
    margin: 0;
    padding: 0;
}

body {
    font: 95% Times,sans-serif;
    text-align: center;
}

p {
    margin: 0 10px 10px;
}

a {
    padding: 5px;
    text-decoration: none;
    color: #000;
}

div#header {
    background-color: #F3F2ED;
}

/*Header backgound color*/
div#header h1 {
    height: 80px;
    line-height: 80px;
    margin: 0;
    padding-left: 10px;
}

div#container {
    text-align: left;
}

div#content p {
    line-height: 1.4;
}

div#navigation {
    background: #c0c5ce;
}

/*Color for Skate spots div on right*/
div#navigation ul {
    margin: 15px 0;
    padding: 0;
    list-style-type: none;
}

div#navigation li {
    margin-bottom: 5px;
}

div#extra {
    background: #65737e;
}

/*color for about me div on leftr*/
div#footer {
    background: #c0c5ce;
}

/*light gray color*/
div#footer p {
    margin: 0;
    padding: 5px 10px;
}

div#container {
    width: 700px;
    margin: 0 auto;
}

div#wrapper {
    float: left;
    width: 100%;
}

div#content {
    margin: 0 150px;
}

div#navigation {
    float: left;
    width: 150px;
    margin-left: -150px;
}

div#extra {
    float: left;
    width: 150px;
    margin-left: -700px;
}

div#footer {
    clear: left;
    width: 100%;
}

a:hover {
    color: red;
}